<title>Tourist Sites | ITMS</title>
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin: 10px 10px 10px 10px;
    }
</style>
<div class="container">
        <div class=" o-hidden shadow-lg" style="margin-top: 44px; margin-bottom: 44px">
            <div>
                @{
                    if (ViewData["Places"] == null)
                    {
                        <h2 class="mx-auto">Sorry, there is no places</h2>
                    }
                    else
                    {
                        IEnumerable<tblPlaces> Places = ViewData["Places"] as IEnumerable<tblPlaces>;
                        var i = 1;
                        foreach (var item in Places)
                        {
                            <div class="row text-center">
                                <div class="col-md-6 rounded mx-auto card ">
                                    <div class="text-center">
                                        <img  src="@("~/Images/"+item.ImgName)" asp-append-version="true" style="margin: 25px 25px 25px 25px " width="250" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            <a class="button-18" asp-action="ViewPlace" asp-route-id="@item.GuId">view</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                    }
                }
            </div>
        </div>
    </div>
