@model ITMS.Models.tblUsers
@{
    Layout = "/Views/Shared/MyLayout.cshtml";
}

    <div class="card">
            <div class="card-header">
                <h3>User Profile</h3>
            </div>


            <div class="card-body">

                <form id="form" asp-action="Profile">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="col-form-label">Full Name</label>

                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <label class="col-form-label">E-Mail</label>
                            <input type="text" asp-for="Email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="col-form-label">Phone Number</label>
                            <input type="text" asp-for="Phone" class="form-control">
                            <input hidden type="text" asp-for="GuId" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-dark btn-sm">Change User Info</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


<script>
                @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                    var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result,'','success')
                    </Text>
                    }
                    else if(@ViewData["Falied"] != null )
                    {
                    <Text>
                    var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error');
                    </Text>
                    }


}
</script>